body {
    margin: 0;
}

.add_box {
    position: fixed;
    z-index: 10;
    bottom: 25px;
    right: 25px;
    height: 50px;
    width: 50px;
    background-color: rgba(212, 20, 20, 0.948);
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.add_box:hover {
    background-color: rgb(249, 140, 140);
    color: #000000;
}

.area {
    background-color: rgb(255, 221, 149);
    height: 800px;
    position: relative;
}

.area .box {
    position: absolute;
    width: 230px;
    height: 250px;
    border: #000000;
    background-color: #670000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: flex-end
}

.area .box hr {
    width: 100%;
    margin: 0;
}

.area .box textarea {
    resize: none;
    color: rgb(96, 10, 10);
    background: #ffe8db;
    border: none;
    outline: none;
    font-size: 20;
}

.area .box .box_title {
    width: 98%;
    height: 12%;
    padding: 5px;
    padding-top: 6px;
    border: 1px solid rgb(10, 10, 10);
}

.area .box .box_text {
    width: 100%;
    height: 75%;
    padding: 3px;
    border: 1px solid rgb(10, 10, 10);
}

.area .box .box_title:focus {
    border-radius: 0;
}